


/*--------------------------------------------------------------
# Service Details
--------------------------------------------------------------*/

.container__servicio {
  display: flex;
  justify-content: center;
  h2 {
  font-size: 28px;
  margin: 0;
  margin-bottom: 50px;
  padding: 4px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  width: 50%;
  text-transform: uppercase;
  background-color: $rosadoPrincipal;
  margin-top: 100px;
  border-radius: 10mm;
}
}

.servicio__detalles {
    padding-bottom: 10px;
  
    .card {
      border: 0;
      padding: 0 30px;
      margin-bottom: 60px;
      position: relative;
    }
  
    .card-img {
      width: calc(100% + 60px);
      margin-left: -30px;
      overflow: hidden;
      z-index: 9;
      border-radius: 0;
  
      img {
        max-width: 100%;
        transition: all 0.3s ease-in-out;
      }
    }
  
    .card-body {
      z-index: 10;
      background: #fff;
      border-top: 4px solid #fff;
      padding: 30px;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
      margin-top: -60px;
      transition: 0.3s;
    }
  
    .card-titulo {
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
      color: black;
  
    }
  
    .card-texto {
      color: #5e5e5e;
    }
  
    }
  
    .card:hover {
      img {
        transform: scale(1.1);
      }
  
      .card-body {
        border-color: lightblue;
  
        .card-title a {
          color: lightblue;
        }
      }
    }
  